h2 Choose Attributes
p Points Invested = 
    span#pointsInvested 0
p Points Available = 
    span#pointsAvailable 40
table
    tr
        th Attribute
        th Score
        th Cost
    tr
        td Physical
    tr
        td Agility
        td
            div.value-button.decrease#dec_agi(onclick="decreaseValue('agi_score', 'agi_cost')") -
            input.value-number#agi_score(type="text", value="0")
            div.value-button.increase#inc_agi(onclick="increaseValue('agi_score', 'agi_cost')") +
        td#agi_cost 0
    tr
        td Fortitude
        td
            div.value-button.decrease#dec_fort(onclick="decreaseValue('fort_score', 'fort_cost')") -
            input.value-number#fort_score(type="text", value="0")
            div.value-button.increase#inc_fort(onclick="increaseValue('fort_score', 'fort_cost')") +
        td#fort_cost 0
    tr
        td Might
        td
            div.value-button.decrease#dec_might(onclick="decreaseValue('might_score', 'might_cost')") -
            input.value-number#might_score(type="text", value="0")
            div.value-button.increase#inc_might(onclick="increaseValue('might_score', 'might_cost')") +
        td#might_cost 0
    tr
        td Social
    tr
        td Deception
        td
            div.value-button.decrease#dec_dec(onclick="decreaseValue('dec_score', 'dec_cost')") -
            input.value-number#dec_score(type="text", value="0")
            div.value-button.increase#inc_dec(onclick="increaseValue('dec_score', 'dec_cost')") +
        td#dec_cost 0
    tr
        td Presence
        td
            div.value-button.decrease#dec_pres(onclick="decreaseValue('pres_score', 'pres_cost')") -
            input.value-number#pres_score(type="text", value="0")
            div.value-button.increase#inc_pres(onclick="increaseValue('pres_score', 'pres_cost')") +
        td#pres_cost 0
    tr
        td Persuasion
        td
            div.value-button.decrease#dec_pers(onclick="decreaseValue('pers_score', 'pers_cost')") -
            input.value-number#pers_score(type="text", value="0")
            div.value-button.increase#inc_pers(onclick="increaseValue('pers_score', 'pers_cost')") +
        td#pers_cost 0
    tr
        td Mental
    tr
        td Learning
        td
            div.value-button.decrease#dec_learn(onclick="decreaseValue('learn_score', 'learn_cost')") -
            input.value-number#learn_score(type="text", value="0")
            div.value-button.increase#inc_learn(onclick="increaseValue('learn_score', 'learn_cost')") +
        td#learn_cost 0
    tr
        td Logic
        td
            div.value-button.decrease#dec_logic(onclick="decreaseValue('logic_score', 'logic_cost')") -
            input.value-number#logic_score(type="text", value="0")
            div.value-button.increase#inc_logic(onclick="increaseValue('logic_score', 'logic_cost')") +
        td#logic_cost 0
    tr
        td Perception
        td
            div.value-button.decrease#dec_perc(onclick="decreaseValue('perc_score', 'perc_cost')") -
            input.value-number#perc_score(type="text", value="0")
            div.value-button.increase#inc_perc(onclick="increaseValue('perc_score', 'perc_cost')") +
        td#perc_cost 0
    tr
        td Will
        td
            div.value-button.decrease#dec_will(onclick="decreaseValue('will_score', 'will_cost')") -
            input.value-number#will_score(type="text", value="0")
            div.value-button.increase#inc_will(onclick="increaseValue('will_score', 'will_cost')") +
        td#will_cost 0
    tr
        td Supernatural
    tr
        td Alteration
        td
            div.value-button.decrease#dec_alt(onclick="decreaseValue('alt_score', 'alt_cost')") -
            input.value-number#alt_score(type="text", value="0")
            div.value-button.increase#inc_alt(onclick="increaseValue('alt_score', 'alt_cost')") +
        td#alt_cost 0
    tr
        td Creation
        td
            div.value-button.decrease#dec_creat(onclick="decreaseValue('creat_score', 'creat_cost')") -
            input.value-number#creat_score(type="text", value="0")
            div.value-button.increase#inc_creat(onclick="increaseValue('creat_score', 'creat_cost')") +
        td#creat_cost 0
    tr
        td Energy
        td
            div.value-button.decrease#dec_energy(onclick="decreaseValue('energy_score', 'energy_cost')") -
            input.value-number#energy_score(type="text", value="0")
            div.value-button.increase#inc_energy(onclick="increaseValue('energy_score', 'energy_cost')") +
        td#energy_cost 0
    tr
        td Entropy
        td
            div.value-button.decrease#dec_ent(onclick="decreaseValue('ent_score', 'ent_cost')") -
            input.value-number#ent_score(type="text", value="0")
            div.value-button.increase#inc_ent(onclick="increaseValue('ent_score', 'ent_cost')") +
        td#ent_cost 0
    tr
        td Influence
        td
            div.value-button.decrease#dec_infl(onclick="decreaseValue('infl_score', 'infl_cost')") -
            input.value-number#infl_score(type="text", value="0")
            div.value-button.increase#inc_infl(onclick="increaseValue('infl_score', 'infl_cost')") +
        td#infl_cost 0
    tr
        td Movement
        td
            div.value-button.decrease#dec_move(onclick="decreaseValue('move_score', 'move_cost')") -
            input.value-number#move_score(type="text", value="0")
            div.value-button.increase#inc_move(onclick="increaseValue('move_score', 'move_cost')") +
        td#move_cost 0
    tr
        td Prescience
        td
            div.value-button.decrease#dec_presc(onclick="decreaseValue('presc_score', 'presc_cost')") -
            input.value-number#presc_score(type="text", value="0")
            div.value-button.increase#inc_presc(onclick="increaseValue('presc_score', 'presc_cost')") +
        td#presc_cost 0
    tr
        td Protection
        td
            div.value-button.decrease#dec_prot(onclick="decreaseValue('prot_score', 'prot_cost')") -
            input.value-number#prot_score(type="text", value="0")
            div.value-button.increase#inc_prot(onclick="increaseValue('prot_score', 'prot_cost')") +
        td#prot_cost 0