doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        main
            block header
                header.header
                    h1 #{title}
            block content
                form(action="")
                    fieldset
                        include includes/characterDescription.pug
                    fieldset
                        include includes/attributeTable.pug

        script(src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js")
        script
            include ../public/js/scripts.js

