/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */


/* RESET
   ========================================================================== */


   html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit; /* [1] */
    margin: 0;
    padding: 0;
  }
  
  
  
  /* FONTS
     ========================================================================== */
  
  body {
    font-family: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  
  
  
  /* Header
     ========================================================================== */
  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #525286;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  /* Misc
    =========================================================================== */

    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;        
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
    .value-button:hover {
        cursor: pointer;
    }

    .decrease {
        margin-right: -4px;
        border-radius: 8px 0 0 8px;
    }
      
    .increase {
        margin-left: -4px;
        border-radius: 0 8px 8px 0;
    }

    .value-number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 44px;
    }