/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */


/* RESET
   ========================================================================== */


   html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit; /* [1] */
    margin: 0;
    padding: 0;
  }
  
  
  
  /* FONTS
     ========================================================================== */
  
  body {
    font-family: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  
  
  
  /* Header
     ========================================================================== */
  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #525286;
    color: #FFFFFF;
    margin-bottom: 50px;
  }